#map {
    height: 400px;
    width: 100%;
}

body { 
    background: url(img/running.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.panel {
    background-color: #F5A458;
}

.panel-default > .panel-heading {
    background-color: #B46316;
    color: #FFD3AA;
}

.info-label {
	padding-right: 5em;
}

.info-input {
	
}