#map {
    height: 400px;
    width: 100%;
}

body { 
    background: url(img/running.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.panel {
    background-color: #F5A458;
}

.panel-default > .panel-heading {
    background-color: #B46316;
    color: #FFD3AA;
}

.info-label {
	padding-right: 5em;
}

.flag {
  background-repeat:no-repeat;
  background-size: 25px 16px;
  width: 25px;
  height: 16px;
}

.flag_la {
  background-image: url(img/laos.png);
}

.flag_en {
  background-image: url(img/uk.png);
}

.language-dropdown {
    float: right;
    padding: 15px 15px;
}

.dropdown-menu {
    min-width: 0px !important;
}

.hours-form > ul {
  list-style-type: none;
}

.timepicker-input {
  width: 100%;
}

.hours-form-day {
  width: 14%;
  display: inline-block;
}

.li-hours-selector {
  padding-left: 0;
  padding-right: 0;
}

.selectors-group {
  margin: auto;
  width: 90%;
}

.hours-selector {
  margin: 1px;
}

.hours-selector-day {
  text-align: center;
}

.hours-selector-open {
  margin: auto;
}

